table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 80%;
  }
  .fi{
    text-align: center;
  }
  
  .spinnerbody{
    width: 100%;
    max-width: 330px;
    text-align: center;
  }
  