<!--form [formGroup]="form" (ngSubmit)="ingresar()" -->
    <font SIZE=5 FACE="roman">Registrar Usuario</font>
    <mat-form-field appearance="fill">
        <mat-label>Usuario</mat-label>
        <input type="text" matInput autocomplete="off" formControlName="nombreUsuario" >
      </mat-form-field>
    <br>
      <mat-form-field appearance="fill" >
        <mat-label>Password</mat-label>
        <input type="password" matInput autocomplete="off" formControlName="password"  >
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" >
        <mat-label>Persona</mat-label>
        <input type="number" matInput autocomplete="off" formControlName="idPersona"  >
      </mat-form-field>

      <!--select class="ancho button" id="autoSizingSelect" formControlName="idPersona">
        <option selected>--- Seleccione Persona ---</option>
        <option [value]="element.idPersona" *ngFor="let element of listPersona">{{element.nombrePersona}}</option>
      </select-->
      <br>
      <br>
      <button class="ancho button" [mat-dialog-close]="true" mat-flat-button color="primary">Ingresar</button>
      <br>
     
    <!--/form-->
