

<!--div class="mat-elevation-z8">
    <table mat-table [dataSource]="listCategoria">
  
    
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.idCategoria}} </td>
      </ng-container>
  
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombreCategoria}} </td>
      </ng-container>

      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef> Descripcion </th>
        <td mat-cell *matCellDef="let element"> {{element.descripcionCategoria}} </td>
      </ng-container>
  
     
      <ng-container matColumnDef="accion">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell > Hola </td>
      </ng-container>
  
     
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons 
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div-->
<br>
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
              <p class="fi">
              <font SIZE=6 FACE="roman">Listado de  Categoria</font>
            </p>
                <mat-form-field appearance="standard">
                    <mat-label>Filtro</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
                  </mat-form-field>
                  <!--button mat-raised-button routerLink="/dashboard/regitrarcategoria" (click)="mostrar()" style="margin-left:40px; background-color: rgb(70, 50, 255);">agregar</button-->

                  <button mat-raised-button routerLink="/dashboard/regitrarcategoria" style="margin-left:40px; background-color: rgb(70, 50, 255);">agregar</button>
                  <!--button mat-raised-button (click)="cerr()" style="margin-left:3px; background-color: rgb(70, 50, 255);">cerrar</button-->
                <table mat-table [dataSource]="datasource"class="mat-elevation-z8" >
            
                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                  
                    
                          <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> Id </th>
                            <td mat-cell *matCellDef="let element"> {{element.idCategoria}} </td>
                          </ng-container>
                      
                          <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef> Nombre </th>
                            <td mat-cell *matCellDef="let element"> {{element.nombreCategoria}} </td>
                          </ng-container>
                    
                          <ng-container matColumnDef="descripcion">
                            <th mat-header-cell *matHeaderCellDef> Descripcion </th>
                            <td mat-cell *matCellDef="let element"> {{element.descripcionCategoria}} </td>
                          </ng-container>
                      
                         
                          <ng-container matColumnDef="accion">
                            <th mat-header-cell *matHeaderCellDef> Acciones </th>
                            <td mat-cell *matCellDef="let element"> 
                                
                              <button type="button" class="btn btn-primary butEdit" routerLink="/dashboard/regitrarcategoria/{{element | json}}">Edit</button>
                                <button class="btn btn-primary butDelete" mat-raised-button (click)="openDialog(element)">Delete</button>
                                <!--button mat-button (click)="eliminar(element)">Launch dialog</button-->
                            </td>
                          </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    
                  </table>
                  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
              aria-label="Select page of periodic elements">
            </mat-paginator>
        
            </div>
        </div>
    </div>
  <!--  
    <div class="col-lg-4" *ngIf="loading">
        <div class="card">
            <div class="card-body" >
                <app-crud-categoria></app-crud-categoria>
            <div> poner los slash
        <div> poner los slash
    <div> poner los slash
  -->
</div>
  
  




















