

.body{
    text-align: center;
    display:flex;
    justify-content: center;
    height: 60%;
   
    
}

.card{
    
    background-color: rgb(230, 186, 11);
}

.body1{
    display:flex;
    justify-content: center;
    height: 65%;
    align-items: center;
    
}
/*.login1{
    width: 100%;
    max-width: 330px;
    text-align: center;
}*/
.ancho{
    width: 80%;
}

.button{
    height: 50px;
}

.login{
    width: 100%;
    max-width: 330px;
    text-align: center;
}
